# **Python Lists**

Definition:
A list in Python is a collection of items which are ordered, mutable, and allow duplicates. Lists can store different data types like numbers, strings, or even other lists.

***Properties of lists***:

Ordered: items have a defined order.

Mutable: you can change items after creation.

Allow duplicates: same value can appear multiple times.

Indexed: first item index = 0.

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list2 = ["apple", "banana", "cherry"]
mixed_list = [1, "apple", 3.14, True]

In [3]:
print(type(my_list))  # <class 'list'> #check type

<class 'list'>

# **Access List Items**

Use indexing and slicing to access list elements.

In [4]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])   # apple (first item)
print(fruits[-1])  # date (last item)
print(fruits[1:3]) # ['banana', 'cherry'] (slice)

apple
date
['banana', 'cherry']

# **Change List Items**

Since lists are mutable, you can modify elements.

In [6]:
fruits[1] = "blueberry"
print(fruits)  # ['apple', 'blueberry', 'cherry', 'date']



fruits[1:3] = ["banana", "kiwi"]
print(fruits)  # ['apple', 'banana', 'kiwi', 'date']

['apple', 'blueberry', 'cherry', 'date']
['apple', 'banana', 'kiwi', 'date']

# **Add List Items**

You can add items to a list using:

a) append() → adds single item at the end

b) insert(index, item) → adds item at specific position

c) extend() → add multiple items

In [7]:
fruits.append("mango")
print(fruits)  # ['apple', 'banana', 'kiwi', 'date', 'mango']


fruits.insert(2, "orange")
print(fruits)  # ['apple', 'banana', 'orange', 'kiwi', 'date', 'mango']


fruits.extend(["grapes", "pear"])
print(fruits)  # ['apple', 'banana', 'orange', 'kiwi', 'date', 'mango', 'grapes', 'pear']

['apple', 'banana', 'kiwi', 'date', 'mango']
['apple', 'banana', 'orange', 'kiwi', 'date', 'mango']
['apple', 'banana', 'orange', 'kiwi', 'date', 'mango', 'grapes', 'pear']

# **Remove List Items**

Remove elements using:

a) remove(item) → removes first occurrence

b) pop() → removes by index (default last)

c) del → remove by index or slice

d) clear() → remove all items

In [8]:
fruits.remove("kiwi")
print(fruits)

fruits.pop()       # removes 'pear'
fruits.pop(1)      # removes 'banana'

del fruits[0]
del fruits[1:3]    # delete multiple

fruits.clear()
print(fruits)  # []

['apple', 'banana', 'orange', 'date', 'mango', 'grapes', 'pear']
[]

# **Loop Lists**

You can iterate lists using loops:

a) for loop

b) while loop

In [9]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [10]:
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry

# **List Comprehension**

Shorter way to create lists using a single line for + condition.

In [11]:
numbers = [x**2 for x in range(1, 6)]
print(numbers)  # [1, 4, 9, 16, 25]

# With condition
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)  # [0, 2, 4, 6, 8]

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]

# **Sort Lists**

You can sort lists using:

In [12]:
#a) sort() → sorts list in-place
numbers = [4, 2, 9, 1]
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 2, 4, 9]
[9, 4, 2, 1]

In [13]:
#b) sorted() → returns new sorted list

numbers = [4, 2, 9, 1]
print(sorted(numbers))  # [1, 2, 4, 9]
print(numbers)          # original unchanged [4, 2, 9, 1]

[1, 2, 4, 9]
[4, 2, 9, 1]

In [14]:
#Copy Lists
#a) copy() → shallow copy
original = [1, 2, 3]
new_list = original.copy()

#b) Slice method
new_list = original[:]

In [17]:
"""Join Lists

Combine multiple lists:

a) Using + operator"""

list1 = [1, 2]
list2 = [3, 4]
combined = list1 + list2
print(combined)


#Using extend()
list1.extend(list2)

[1, 2, 3, 4]

# **List Methods (Common)**
**Method	Description**

append()	Add item at end

insert()	Add item at specific position

extend()	Add multiple items

remove()	Remove first occurrence

pop()	Remove by index (default last)

clear()	Remove all elements

index()	Find index of first occurrence

count()	Count occurrences

sort()	Sort in-place

reverse()	Reverse list

copy()	Copy list