
# üîπ **Definition:**

A Set in Python is an unordered, unindexed, and mutable collection of unique items.

That means:

It does not allow duplicate values.

The items are not stored in any specific order.

You can add or remove items after creation.


Key Characteristics:

‚úÖ Unordered ‚Üí Items have no defined order (can‚Äôt use indexing or slicing)

‚úÖ Unique items only ‚Üí Duplicates are removed automatically

‚úÖ Mutable ‚Üí You can add or remove items after creation

‚úÖ Supports mathematical operations like union, intersection, difference, etc

In [2]:
#syntax
# Creating a set
my_set = {1, 2, 3, 4}

# Or using the set() constructor
another_set = set([1, 2, 3, 2])
print(another_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [3]:
"""Access Set Items

Since sets are unordered, you cannot access elements by index like lists or tuples."""
fruits = {"apple", "banana", "cherry"}

#Invalid
# print(fruits[0])  # This will cause an error

#  Correct way: loop or use "in"
for fruit in fruits:
    print(fruit)

# Check if an item exists
print("apple" in fruits)  # True

cherry
banana
apple
True

In [4]:
#If you need to access items by index, first convert the set to a list:
fruits_list = list(fruits)
print(fruits_list[0])

cherry

# **Add Set Items**

You can add elements using two main methods:

In [1]:
#add() ‚Äî Adds a single element
fruits = {"apple", "banana"}
fruits.add("cherry")
print(fruits)  # {'apple', 'banana', 'cherry'}

{'banana', 'cherry', 'apple'}

In [3]:
#update() ‚Äî Adds multiple elements

#You can add items from lists, tuples, or other sets.

fruits = {"apple", "banana"}
fruits.update(["cherry", "mango", "grape"])
print(fruits)  # {'apple', 'banana', 'cherry', 'mango', 'grape'}

{'grape', 'cherry', 'apple', 'banana', 'mango'}

In [5]:
#Remove Set Items

#You can remove elements in several ways, each with a slightly different behavior.
'''remove()

Removes a specified item.
 If the item doesn‚Äôt exist ‚Üí raises an error.'''
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)  # {'apple', 'cherry'}
# fruits.remove("mango")  # ‚ùå KeyError if not found

{'cherry', 'apple'}

In [6]:
#discard()

#Removes a specified item but does not raise an error if the item doesn‚Äôt exist.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits.discard("mango")  # No error
print(fruits)  # {'apple', 'cherry'}

{'cherry', 'apple'}

In [1]:
#pop()

#Removes a random item because sets are unordered.

fruits = {"apple", "banana", "cherry"}
removed_item = fruits.pop()
print("Removed:", removed_item)
print(fruits)

Removed: cherry
{'apple', 'banana'}

In [2]:
# clear()

# Removes all items from the set.
fruits.clear()
print(fruits)  # set()

set()

In [5]:
# del

# Deletes the entire set.
del fruits

NameError: name 'fruits' is not defined

In [6]:
# Loop Through Sets

# You can loop through a set using a simple for loop.

# Example:
fruits = {"apple", "banana", "cherry"}

for fruit in fruits:
    print(fruit)

cherry
apple
banana

# **Join Sets**

You can join (combine) two or more sets in Python using set operations or methods.
Because sets automatically remove duplicates, the result of joining will always contain unique elements.

 union() Method
 Returns a new set containing all items from both sets.

 update() Method Adds all items from one set into another (modifies the original).

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

result = set1.union(set2)
print(result)
# Output: {'google', 'banana', 'apple', 'microsoft', 'cherry'}

{'cherry', 'microsoft', 'banana', 'apple', 'google'}

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.update(set2)
print(set1)
# Output: {'google', 'banana', 'apple', 'microsoft', 'cherry'}

{'cherry', 'microsoft', 'banana', 'apple', 'google'}

In [9]:
a = {1, 2, 3}
b = {3, 4, 5}
c = {5, 6, 7}

print(a.union(b, c))
# {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}

# **Copy Sets**

You can copy a set using either the copy() method or the set() constructor.

In [10]:
#Using copy()
fruits = {"apple", "banana", "cherry"}
new_set = fruits.copy()
print(new_set)

{'cherry', 'apple', 'banana'}

In [11]:
#Using set()
fruits = {"apple", "banana", "cherry"}
new_set = set(fruits)
print(new_set)

{'cherry', 'apple', 'banana'}

# **Python - Set Methods**

Here‚Äôs a full list of the built-in set methods in Python:

Method	Description	Example

add()	Adds a single element	s.add(4)

update()	Adds multiple elements	s.update([5,6])

remove()	Removes an item (raises error if not found)	s.remove(2)

discard()	Removes an item (no error if not found)	s.discard(2)

pop()	Removes a random element	s.pop()

clear()	Removes all elements	s.clear()

copy()	Returns a shallow copy	s.copy()

union()	Returns the union	s1.union(s2)

update()	Adds all items from another set	s1.update(s2)

intersection()	Returns items common to both	s1.intersection(s2)

intersection_update()	Updates the set with the intersection	s1.

intersection_update(s2)

difference()	Returns the difference	s1.difference(s2)

difference_update()	Updates set removing common items	s1.difference_update(s2)

symmetric_difference()	Returns items not in both	s1.symmetric_difference(s2)

symmetric_difference_update()	Updates set with symmetric difference	s1.

symmetric_difference_update(s2)

issubset()	Checks if a set is a subset of another	s1.issubset(s2)

issuperset()	Checks if a set is a superset of another	s1.issuperset(s2)

isdisjoint()	Checks if two sets have no items in common	s1.isdisjoint(s2)