
# **What is a Dictionary?**

A dictionary in Python is a built-in data type used to store data in key–value pairs.
Each value is associated with a unique key.


Key Features:

Keys must be unique (duplicates not allowed).

Keys must be immutable (e.g., string, number, or tuple).

Values can be of any type (string, list, another dictionary, etc.).

Dictionaries are ordered (from Python 3.7 onwards, they remember insertion order).

In [1]:
student = {
    "name": "Aman",
    "age": 21,
    "subjects": ["Math", "Physics", "Chemistry"]
}

print(student)

{'name': 'Aman', 'age': 21, 'subjects': ['Math', 'Physics', 'Chemistry']}

# **Access Dictionary Items**

In [3]:
#Access using a Key:
student = {"name": "Aman", "age": 21}
print(student["name"] , student["age"])

Aman 21

In [4]:
#Access using the get() method:
print(student.get("age"))
print(student.get("city"))

21
None

In [5]:
#Get all keys, values, or items:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values(['Aman', 21])
dict_items([('name', 'Aman'), ('age', 21)])

# **Change Dictionary Items**

In [6]:
#Modify a value:
student = {"name": "Aman", "age": 21}
student["age"] = 22
print(student)

{'name': 'Aman', 'age': 22}

In [7]:
#Update multiple values using update():
student.update({"age": 23, "city": "Delhi"})
print(student)

{'name': 'Aman', 'age': 23, 'city': 'Delhi'}

# **Add Dictionary Items**

In [8]:
#Add a single new key-value pair:
student = {"name": "Aman", "age": 21}
student["city"] = "Mumbai"
print(student)

{'name': 'Aman', 'age': 21, 'city': 'Mumbai'}

In [9]:
#Add multiple items using update():
student.update({"grade": "A", "roll_no": 101})
print(student)

{'name': 'Aman', 'age': 21, 'city': 'Mumbai', 'grade': 'A', 'roll_no': 101}

# **Remove Dictionary Items**

In [10]:
#Using pop(key):

#Removes the item with the specified key and returns its value.

student = {"name": "Aman", "age": 21, "city": "Delhi"}
student.pop("city")
print(student)

{'name': 'Aman', 'age': 21}

In [11]:
'''Using popitem():

Removes the last inserted key-value pair.

student.popitem()'''

'Using popitem():\n\nRemoves the last inserted key-value pair.\n\nstudent.popitem()'

In [12]:
#Using del keyword:
del student["age"]
print(student)

{'name': 'Aman'}

In [13]:
'''Using clear():

Clears all items in the dictionary.'''

student.clear()
print(student)

{}

# **Dictionary View Objects**

Python provides three view objects for dictionaries:

dict.keys() → returns all keys

dict.values() → returns all values

dict.items() → returns all key-value pairs

These are live views, meaning they automatically update when the dictionary changes

In [14]:
student = {"name": "Aman", "age": 21}

keys_view = student.keys()
print(keys_view)   # dict_keys(['name', 'age'])

# Add a new item
student["city"] = "Delhi"

print(keys_view)   # dict_keys(['name', 'age', 'city'])  ← updated automatically!

dict_keys(['name', 'age'])
dict_keys(['name', 'age', 'city'])

In [15]:
#Loop through items:
for key, value in student.items():
    print(key, ":", value)

name : Aman
age : 21
city : Delhi

# ** Python – Loop Dictionaries**

You can loop through dictionaries to access keys, values, or both.

In [16]:
#Loop through Keys:
student = {"name": "Aman", "age": 21, "city": "Delhi"}

for key in student:
    print(key)

name
age
city

In [17]:
#Loop through Values:
for value in student.values():
    print(value)

Aman
21
Delhi

In [18]:
#Loop through Both (key-value pairs):
for key, value in student.items():
    print(key, ":", value)

name : Aman
age : 21
city : Delhi

In [19]:
#Print formatted sentence
for key, value in student.items():
    print(f"The student's {key} is {value}")

The student's name is Aman
The student's age is 21
The student's city is Delhi

# **Python – Copy Dictionaries**

If you assign one dictionary to another variable directly, both will point to the same memory location (so changes affect both).
To avoid that, we use copy methods.

In [20]:
#Using copy() method:
dict1 = {"name": "Aman", "age": 21}
dict2 = dict1.copy()
dict2["age"] = 25
print(dict1)  # {'name': 'Aman', 'age': 21}
print(dict2)

{'name': 'Aman', 'age': 21}
{'name': 'Aman', 'age': 25}

In [21]:
#Using dict() constructor:
dict3 = dict(dict1)
print(dict3)

{'name': 'Aman', 'age': 21}

Note: Both create a shallow copy (they don’t copy nested structures fully — for that use copy.deepcopy() from the copy module).

# **Nested Dictionaries**

A nested dictionary means having dictionaries inside another dictionary.

In [23]:
students = {
    "student1": {"name": "Aman", "age": 21},
    "student2": {"name": "Riya", "age": 22},
    "student3": {"name": "Karan", "age": 20}
}
print(students)

{'student1': {'name': 'Aman', 'age': 21}, 'student2': {'name': 'Riya', 'age': 22}, 'student3': {'name': 'Karan', 'age': 20}}

In [24]:
#Access Nested Data:
print(students["student2"]["name"])

Riya

In [25]:
#Add New Nested Dictionary:
students["student4"] = {"name": "Neha", "age": 19}
print(students)

{'student1': {'name': 'Aman', 'age': 21}, 'student2': {'name': 'Riya', 'age': 22}, 'student3': {'name': 'Karan', 'age': 20}, 'student4': {'name': 'Neha', 'age': 19}}

In [26]:
#Loop Through Nested Dictionaries:
for key, info in students.items():
    print(key)
    for sub_key, sub_value in info.items():
        print(f"  {sub_key}: {sub_value}")

student1
  name: Aman
  age: 21
student2
  name: Riya
  age: 22
student3
  name: Karan
  age: 20
student4
  name: Neha
  age: 19

# **Python – Dictionary Methods**

Here’s a list of commonly used dictionary methods:


clear()	Removes all items


copy()	Returns a shallow copy

fromkeys(seq, value)	Creates a new dict with given keys and value

get(key, default)	Returns value for key (default if missing)	d

items()	Returns all key-value pairs

keys()	Returns all keys

values()	Returns all values

pop(key, default)	Removes key and returns its value

popitem()	Removes last inserted pair

setdefault(key, value)	Returns value of key, inserts it if not found	dict.setdefault("city", "Delhi")

update(dict2)	Updates dictionary with another