# **Definition:**

A tuple is an ordered and immutable collection in Python.
It allows you to store multiple items in a single variable.

In [1]:
var1 = (1 , 2 , 3 , 4) #syntax

# **Key Features:**

Ordered: The items have a fixed order that won’t change.

Immutable: You cannot modify (change, add, or remove) items after creation.

Allow duplicates: Tuples can contain duplicate values.

Can store different data types: e.g., integers, strings, floats, lists, etc.

In [2]:
tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana", "cherry")
tuple3 = (1, "apple", True, 4.5)

# **Access Tuple Item**s

You can access tuple elements using their index numbers (starting from 0).

In [3]:
fruits = ("apple", "banana", "cherry")

print(fruits[0])   # apple
print(fruits[1])   # banana
print(fruits[-1])  # cherry (last element)

apple
banana
cherry

In [4]:
#Accessing a range of items (slicing):
print(fruits[0:2])  # ('apple', 'banana')

('apple', 'banana')

# **Update Tuples**

Tuples are immutable, meaning you cannot change them directly.
However, you can convert the tuple to a list, make changes, and then convert it back.

In [5]:
fruits = ("apple", "banana", "cherry")
temp_list = list(fruits)
temp_list[1] = "orange"
fruits = tuple(temp_list)

print(fruits)  # ('apple', 'orange', 'cherry')

('apple', 'orange', 'cherry')

# **Add items to a tuple**:

Since tuples can’t be changed, you can add items by joining two tuples.

In [6]:
x = ("apple", "banana")
y = ("cherry",)
x = x + y
print(x)  # ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

# **Unpack Tuples**

Unpacking means assigning the tuple’s values to separate variables.

In [8]:
fruits = ("apple", "banana", "cherry")
(a, b, c) = fruits

print(a)  # apple
print(b)  # banana
print(c)  # cherry

apple
banana
cherry

# Using the Asterisk (*) Operator:

If the number of variables is less than the number of items,
you can use * to collect the remaining values into a list.

In [9]:
fruits = ("apple", "banana", "cherry", "mango", "orange")
(a, b, *c) = fruits

print(a)  # apple
print(b)  # banana
print(c)  # ['cherry', 'mango', 'orange']

apple
banana
['cherry', 'mango', 'orange']

# **Loop Tuples**

You can loop through a tuple using a for loop.

In [10]:
fruits = ("apple", "banana", "cherry")

for item in fruits:
    print(item)

apple
banana
cherry

In [11]:
#Using index numbers:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

# **Join Tuples**

You can combine (join) two or more tuples using the + operator.

In [12]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [13]:
#You can also multiply tuples to repeat their elements:
tuple4 = ("apple", "banana") * 2
print(tuple4)  # ('apple', 'banana', 'apple', 'banana')

('apple', 'banana', 'apple', 'banana')

# **Tuple Methods**

Tuples have only two built-in methods:

Count()

Index()

In [14]:
t = (1, 2, 3, 2, 4)
print(t.count(2))  # 2
print(t.index(3))  # 2

2
2

# **Namedtuple**

namedtuple is part of the collections module.
It allows you to create tuple-like objects with named fields, making your code more readable.

In [15]:
from collections import namedtuple

Person = namedtuple("Person", ["name", "age", "city"])
p1 = Person("Alice", 25, "New York")

print(p1.name)
print(p1.age)
print(p1.city)

Alice
25
New York